<!DOCTYPE html>
<html>
    <head>
        <title>Trello Clone</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <body>
        <h1>Trello-clone</h1>
        <div>
            <form id="list-form">
                <input name="list" type="text" placeholder="Enter list title..." autofocus autocomplete="off"/>
                    <button>Add List</button>
            </form>
        </div>
        <div id="list-container">
        </div>

        <script id="card-form-template" type="text/template">
            <form class="card-form">
                <input name="card-list" type="text" placeholder="Add card title..." autocomplete="off"/>
                <button>Add Card</button>
            </form>
        </script>
        
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
