<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trello Clone</title>
    </head>
    <body>
        <h2>Trello Clone</h2>
       <h3>
           <a href="#">Register</a>
       </h3>
        
       <h3>
           <a href="#">Login</a>
       </h3>
        
        <h3>
            <a href="/trello">Trello</a>
        </h3>
    </body>
</html>
