body {
    background-color: #e6ffff;
}

h1 {
    text-align: center;
}

.list-title {
    margin: 8px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.empty {
    vertical-align: top;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: thin;
    margin: 10px;
    background-color: #d9e7fc;
    padding: 5px;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

#list-form {
    padding-left: 10px;
}
