body {
    background-color: #d9e7fc;
}

h1 {
    text-align: center;
}

.empty {
    vertical-align: top;
    display: inline-block;
    height: 300px;
    width: 160px;
    border-style: solid;
    border-width: thin;
    margin: 10px;
    background-color: white;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}


